@import '../../../styles.scss';

.login-screen {
    padding-top: 20px;

    .head {
        i {
            color: $d-black;
            font-size: 16px;
            padding-bottom: 45px;
        }

        h3 {
            color: $d-black;
            font-size: 21px;
            font-weight: 700;
            padding-bottom: 10px;
        }

        p {
            color: $l-grey;
            font-size: 16px;
            line-height: 1.3;
            padding-bottom: 35px;
        }
    }

    input {
        &.custom-input {
            border-radius: 14px;
            padding: 7px 40px 7px 40px;
            border-color: $silver;
            background-color: $l-silver;
            color: $d-black;
        }
    }

    i {

        &.fa-envelope,
        &.fa-lock {
            position: relative;
            bottom: 30px;
            left: 15px;
            font-size: 17px;
            color: $l-grey;
        }
    }

    .forgot {
        a {
            color: $d-green;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .signin-btn {
        padding-top: 18px;
    }

    .below-section {
        p {
            padding-top: 20px;
            text-align: center;
            color: $d-grey;

            a {
                color: $d-green;
                font-weight: 500;
                cursor: pointer;
            }
        }

        .separator {
            padding: 20px 0;
            display: flex;
            align-items: center;
            text-align: center;
            color: $l-grey;
            font-size: 14px;

            &::before,
            &::after {
                content: '';
                flex: 1;
                border-bottom: 1px solid #E5E7EB;
                margin: 0 10px;
            }
        }

        .social-buttons {
            .google {
                img {
                    width: 15px;
                    height: 15px;
                    object-fit: cover;
                    object-position: center;
                }

                border: 1px solid #E5E7EB;
                background-color: $white;
                font-weight: 600;
                border-radius: 100px;
                padding: 12px 20px;
            }

            .apple {
                img {
                    width: 15px;
                    height: 15px;
                    object-fit: cover;
                    object-position: center;
                }

                border: 1px solid #E5E7EB;
                background-color: $white;
                font-weight: 600;
                border-radius: 100px;
                padding: 12px 20px;
            }

            .fb {
                img {
                    width: 15px;
                    height: 15px;
                    object-fit: cover;
                    object-position: center;
                }

                border: 1px solid #E5E7EB;
                background-color: $white;
                font-weight: 600;
                border-radius: 100px;
                padding: 12px 20px;
            }
        }
    }
}