@import './variable.scss';

body {
  overflow-x: hidden !important;
  margin-bottom: 0 auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

.green-btn {
  display: block;
  text-align: center;
  padding: 7px 5px;
  border-radius: 50px;
  border: 1px solid $d-green;
  background-color: $d-green;
  color: $white;
}