<div class="signup-screen">
    <div class="container">
        <div class="head">
            <h3>Sign Up</h3>
            <p>Please create a new account</p>
        </div>

        <form [formGroup]="signupForm">
            <div class="form-group">
                <input type="text" class="custom-input form-control" placeholder="Enter your name" formControlName="name">
                <i class="fa-solid fa-user"></i>

                @if (submitted && f['name'].errors) {
                <div class="error">
                    @if (f['name'].errors['required']) {<small>Name is required.</small>}
                </div>
                }
            </div>

            <div class="form-group">
                <input type="email" class="custom-input form-control" placeholder="Enter your email" formControlName="email">
                <i class="fa-solid fa-envelope"></i>
                
                @if (submitted && f['email'].errors) {
                <div class="error">
                    @if (f['email'].errors['required']) {<small>Email is required.</small>}
                    @if (f['email'].errors['email']) {<small>Enter a valid email.</small>}
                </div>
                }
                
            </div>

            <div class="form-group">
                <input type="password" class="custom-input form-control" placeholder="Enter your password" formControlName="password">
                <i class="fa-solid fa-lock"></i>

                @if (submitted && f['password'].errors) {
                <div class="error">
                    @if (f['password'].errors['required']) {<small>Password is required.</small>}
                    @if (f['password'].errors['minlength']) {<small>Password must be at least 6 characters.</small>}
                </div>
                }
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" formControlName="agree">
                <label class="form-check-label">I agree to the app <a>Terms of Services</a> and <a>Privacy Policy</a></label>

                @if (submitted && f['agree'].errors) {
                <div class="error">
                    <small>You must agree to continue.</small>
                </div>
                }
            </div>

            <div class="signup-btn">
                <a class="green-btn" (click)="onSubmit()">Sign Up</a>
            </div>

            @if (submitted && signupForm.valid) {
            <div class="alert alert-success mt-3">
                Account created successfully!
            </div>
            }
        </form>

        <div class="below-section">
            <p>You already have an account? <a>Sign In</a></p>
        </div>
    </div>
</div>